/* Stylesheet file for Notebook.

   Copyright 2008 Juha Autero <jautero@gmail.com>

*/

html,body {
	height: 100%;
}
body {
	position: relative;    
    font-family: Futura, Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 20pt;
    margin: 0px auto;
    width: 502px;
}
a {
	color: #6799b1;
	text-decoration: underline;
}
a:hover {
	color: #838f96;
	text-decoration: none;
}

#edittemplate {
	display: none;
}

#notetemplate {
	display: none;
}

#content {
    width: 580px;
    margin: 0px auto;
    padding-left: 0px;
}

input {
	border: 1px solid;
	font-size: 20pt;
}
textarea {
	border: 1px solid;
	font-size: 20pt;
	width: 500;
}
input.title {
	width:400px;
}

.menu {
	border: 1px solid;
	background-color: #f0f0f0;
}